@import url("../components/Hero/hero.css");
@import url("../components/navbar/navbar.css");
@import url("../components/risk/popularapps.css");
@import url("../components/fre_risks/fre_risks.css");
@import url("../components/cards/cards.css");
@import url("../components/staysafe/staysafe.css");
@import url("../components/Info/hero/infohero.css");
@import url("../components/Info/saferInternetDay/saferInternetDay.css");
@import url("../components/Modals/loginModal/loginModal.css");
:root{
  --primary: #23c687;
  --secondary: white;
  --tertiary: #1d3853;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  cursor: url('../img/cursor.png'), auto;
}
.google_translate :first-child :first-child {
 background-color: transparent;
 border-radius: 50%;
 border: 0px;
}
.google_translate :first-child span {
  
  color: white;
 }
 .google_translate :first-child :first-child :first-child :last-child  {
  color:white !important;
 }
.main {
  padding: 2rem 8rem;
}
.error{
  border-width: 2px;
  border-color: red;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.bg_gradient {
  background-color: #3bddba;
  background-image: linear-gradient(-45deg, #3bddba, #23c687);
}
hr {
  border-color: #23c687;
  border-width: 2px;
  outline: 0;
  border-style: solid;
  border-radius: 25px;
}
.hr {
  padding: 0 8rem;
}
footer {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
  color: #1d3853;
  padding-bottom: 2rem;
}

footer a {
  text-shadow: none;
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 400;
  cursor: :pointer;
}
footer p{
  color: var(--primary)
}

.g-recaptcha{
  align-items: center;
}

.contact{
  .mail_form_container{
    color:white;
    font-size:1.5rem;
  }
  .mailform{
    gap:1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    input{
      padding:1rem .5rem;
      width: 100%;
      border-radius: 1rem;
    }
    textarea{
      border: 0px;
      height:20rem;
      padding:1rem .5rem;
      border-radius: 1rem;
      width: 100%;
    }
  }
  .herocontact{
    color:var(--primary);
    font-size: 1.5rem;
    h1{
      text-align: center;
    }
  }
  .available_contacts{
    display:flex;
    width: 100%;
    justify-content: space-between;
    gap:3rem;
    font-size:1.5rem;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
      }
      h3{
        text-align: center;
      }
      img{
        width: 12rem;
        height:12rem; 
      }
      
    }
  }
  
}
.bdygen_img{
  border-radius: 5rem;
  object-fit:contain;
}
.flipped_img{
  transform: scaleX(-1);
}