.container {
  display: flex;
  flex-direction: row;
  padding: 0rem 0rem 8rem 0rem;
  gap: 3rem;
  align-items: center;
  color: #1d3853;
}
.subcontainer {
  width: 50%;
}
.grid img {
  width: 200px;
}
.detailrisk {
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailrisk h3 {
  margin: 0rem 0rem;
}
.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto auto;
  gap: 3rem;
  /* grid-template-rows: auto auto auto; */
}
.grid div {
  text-align: center;
  align-items: center;
  align-content: center;
}
.container h3 {
  font-size: 3rem;
  font-weight: bold;
}
span {
  font-weight: bold;
  color: #23c687;
}
.subcat {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.subcat h4 {
  margin: 0rem 0rem 1rem 0rem;
  font-size: 2rem;
  font-weight: bold;
}
.subcat p {
  text-justify: distribute-all-lines;
  margin: 0;
}
.header {
  text-align: center;
  font-size: 4rem;
  margin: 3rem 0rem 8rem 0rem;
  color: #23c687;
}
